<div class="wrapper">
    <div class="grid w-full surface-800">
        <div class="col-2 lg:col-2 md:col-3 justify-content-start align-items-center flex">
            <img src="../assets/images/logo1.png" style="max-height: 45px;" class="ml-4" />
        </div>
        <div class="col-10 lg:col-10 md:col-9 flex">
            <div class="flex-grow-1"></div>
            <div class="flex-none text-100 flex align-items-center justify-content-end h-full">ADMIN</div>
            <div class="flex-none flex align-items-center justify-content-end">
                <img src="../assets/images/img_avatar.png" class=" border-circle ml-2 "
                    style="max-width: 33px;max-height: 33px;" />
            </div>
        </div>
    </div>
    <div class="grid h-full">
        <div class="col-2 p-3 surface-50">
            <p-panelMenu [model]="items" [multiple]="false"></p-panelMenu>
        </div>
        <div class="p-3 col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>